.footer-container {
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-content {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1200px;
}

.navbarBrand {
    text-decoration: none;
    color: #edcb04;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2c65b5
}

.contact {
    font-family: 'Bangers', cursive;
    color: #edcb04;
    font-size: 20px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #2c65b5;
}